body{
    text-align: center;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    color: #333;
    background-color: #f6f6f6;
}
.container{
    margin-top: 60px;
}
.container #cabecera{
    line-height: 35px;
}
.container #cabecera h1{
    margin: 0;
    font-size: 45px;
}
.container #cabecera .subtitle{
    font-size: 10px;
}